/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@1,600&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: rgb(120, 120, 120);
    font-family: 'Exo 2', sans-serif;
    background-color: black;
    margin-bottom:50px;
}

h1 {
    color: rgb(100, 100, 100);;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

/* Header */
header {
    background-color: black;
    padding: 0rem 10%;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* Will change logo name from FS on small screens to Fabien Schwabegger on big screens*/
.small-logo {
    display:inline-block;
    font-size: 12vmin;
}

.big-logo {
    display:none;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 3px;
    list-style-type: none;
    font-size: 5vmin;
}

.active {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(48, 48, 48));
    border-radius: 6px;
}

#menu a:hover {
    border-bottom: 1px solid rgb(120, 120, 120);;
    border-radius: 6px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    display: none;
    top: 100%;
}

.fa-solid {
    font-size: 8vmin;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main content */
main {
    background-color: black;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    padding-top: 50px;
}

/* Hero section */
#hero {
    height: 130vmin;
    width: 100%;
    background: url("../images/—Pngtree—wine\ bottle.png") no-repeat center center/cover;
}

#cover-text {
    /*final rgba value sets opacity to semi-transparent */
    background-color: rgba(170, 170, 170, 0.4);
    font-size: 130%;
    color: #1e1e1e;
    position: absolute;
    bottom: 100px;
    width: 100%;
    min-height: 90px;
    padding-bottom: 6px;
}

/* Footer */
#socials {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 150%;
    padding: 5%;
    color: rgb(100, 100, 100);;
}

/* Media query: tablet and larger (768px and up) */
@media screen and (min-width: 768px) {
    header {
        font-size: 4vmin;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    main {
        margin-top: 60px;
    }

    /*hero picture*/
    #hero {
        height: 60vmin;
        width: 100%;
        background: url("../images/stockphoto.jpg") no-repeat center center/cover;
    }
    
    /* Hero text */
    #cover-text {
        width: 70%;
        padding-top: 10px;
        margin-left: 40px;
}

/* Media query: tablet and larger (1440px and up) */
@media screen and (min-width: 1440px) {
     /* Will change logo name from FS on small screens to Fabien Schwabegger on big screens*/
    .small-logo {
        display: none;
    }
    
    .big-logo {
        display: inline-block;
    }

    /* Hero text */
    .cover-text {
        width: 40%;
        min-height: 100px;
        padding-top: 15px;
        margin-left: 100px;
    }
}

/* Media query: tablet and larger (2560px and up) */
@media screen and (min-width: 2560px) {
    /* Hero text */
    #cover-text {
        width: 25%;
        min-height: 100px;
        padding-top: 15px;
        margin-left: 250px;
    }
}
}