/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@1,600&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: rgb(95, 95, 95);
    font-family: 'Exo 2', sans-serif;
    background-color: black;
}

/* Header */
header {
    background-color: black;
    padding: 0.5rem 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vmin;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #3a3a3a;
}

#menu {
    letter-spacing: 3px;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #7b7b7b;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main content */
main {
    background-color: black;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 70px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/stockphoto.jpg") no-repeat center center/cover;
}

/* Footer */
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablet and larger (768px and up) */
@media screen and (min-width: 768px) {
    header {
        font-size: 2vmax;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    
    main {
        margin-top: 60px;
    }
}